@import '../../constants';

.big_new {
    width: 100%;
    height: 536px;
    background-size: cover;
    background-position: center;
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big_new_darker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000000;
    z-index: 0;

}

.big_new_hash_tag {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 14px;
}

.big_new_title {
    font-size: 3.6rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.big_new_info_hash_tag {
    font-size: 3.6rem;
    font-weight: 600;
}

.big_new_text {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    top: 40px;
    margin: 0 37px;
}

.big_new_info {
    font-size: 2rem;
    font-weight: 200;
    color: $gray;
}

@media screen and (max-width: 768px) {
    .big_new {
        height: 276px;
    }
}

@media screen and (max-width: 400px) {
    .big_new_info_hash_tag {
        font-size: 2rem;
    }
}