@import '../../constants';

.news_container {
    padding: 0 10px;
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.last_news {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 300;
    color: $black;
    margin-bottom: 24px;
}

.news_bottom_gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
    background: linear-gradient(180deg,rgba(42, 123, 155, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.news_darker {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
    opacity: 0.4;
    background-color: $black;
}

.news_card_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1;

    span:not(:last-child) {
        margin-bottom: 10px;
    }
}

.news_card_date {
    font-size: 1.1rem;
    font-weight: 300;

    span {
        color: $gray;
    }
}

.news_card_title {
    font-size: 2.6rem;
    font-weight: 600;
    transition: 0.2s all linear;
}

.news_card_info {
    font-size: 2rem;
    font-weight: 200;
    color: $gray;
}

.news_big_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin-top: 24px;
}

.big_news_card {
    max-width: 640px;
    height: 580px;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-position: center;
    cursor: pointer;
    transition: 0.4s all ease;

    @media (hover:hover) {
        &:hover {
            transition: 0.4s all ease;
            transform: scale(1.02) translateY(-15px);
            -webkit-box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.4);
        }
    }
    &:active {
        .news_card_title {
            color: $accent;
        }
    }
}

.small_news_card {
    max-width: 640px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    transition: 0.4s all ease;
    
    cursor: pointer;

    @media (hover:hover) {
        &:hover {
            transform: scale(1.02) translateY(-15px);
            -webkit-box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.4);
        }
    }
    &:active {
        .news_card_title {
            color: $accent;
        }
    }

    .news_card_date {
        color: $black;
    }

    .news_card_text {
        padding-bottom: 20px;
        transform: 0.4s all ease;
    }

    .news_card_title {
        color: $black;
    }
}

.small_news_card_img {
    background-size: cover;
    background-position: center;
    width: 100%;
    flex: 1 1;
}

.coach_card {
    max-width: 300px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    text-align: center;
    position: relative;
    flex: 1 1;
    transition: 0.4s ease all;

    cursor: pointer;

    @media (hover:hover) {
        &:hover {
            transform: scale(1.02) translateY(-15px);
            -webkit-box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.4);
        }
    }

    &:active {
        .coach_name {
            color: $accent;
        }
    }

    &_text_header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }

    .coach {
        &_name {
            font-size: 1.8rem;
            color: $black;
            font-weight: 600;
            transition: 0.4s all ease;
        }

        &_qualification {
            font-size: 1.1rem;
            font-weight: 300;
            color: $black;
        }

        &_info {
            font-size: 2rem;
            font-weight: 200;
            color: $gray;
        }
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
}

.quotation_mark_wrapper {
    position: absolute;
    top: 20px;
    left: 65px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    border-radius: 100px;

    img {
        border-radius: 0;
        width: 22px;
        height: 22px;
    }
}

.coach_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 60px 0;
    gap: 40px;        
}

.news_small_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

@media screen and (max-width: 1300px) {
    .coach_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 40px;
    }

    .coach_card {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .big_news_card {
        height: 480px;
    }

    .small_news_card {
        height: 480px;
    }

    .small_news_card_img {
        flex: 1 1;
    }

    .news_card_info {
        font-size: 1.6rem;
    }

    .news_big_wrapper {
        gap: 30px;
    }
}

@media screen and (max-width: 650px) {
    .news_big_wrapper {
        display: flex;
        flex-direction: column;
    }

    .news_small_wrapper {
        flex-direction: column;
    }

    .news_container {
        padding: 0;
    }

    .small_news_card {
        .news_card_text {
            padding-bottom: 15px;
            padding: 0 15px;
        }
    }

    .last_news {
        margin-left: 15px;
    }

    .big_news_card {
        margin: 0 15px;
    }

    .coach_wrapper {
        transition: 0.5s all ease;
        display: flex;
        width: max-content;
        gap: 0;
    }

    .coach_container {
        overflow: hidden;
        max-width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: max-content;
        margin: 30px 10px;
    }

    .coach_window {
        width: 300px;
        height: 290px;
        overflow: hidden;
    }

    #active {
        background-color: $accent;
    }

    

    .coach_nav_buttons {
        display: flex;
        width: 150px;
        justify-content: space-between;
        height: 2px;
        div {
            width: 30px;
            height: 3px;
            border-radius: 2px;
            background-color: $gray;
        }
    }

    .coach_nav_panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .coach_slide_buttons {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        background-color: $gray;
        border-radius: 100px;
    }

    .coach {
        flex: 0 1 300px;
    }

    .coach_wrapper {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .news_container {
        padding: 0;
    }

    .big_news_card {
        max-width: 290px;
        height: 290px;
        
    }

    .small_news_card {
        height: 370px;
    }

    .small_news_card {
        .news_card_text {
            padding-bottom: 15px;
        }
    }

    .small_news_card_img {
        height: 185px;
    }

    .news_card_title {
        font-size: 1.6rem;
    }

    .news_card_info {
        font-size: 1.4rem;
    }

    .news_big_wrapper {
        margin-top: 14px;
    }
}
